* {
    
    text-align: center;
    font-size: 18px;
    background: #777; 
    color: #777;
}
body {
    margin-left: 200px;
    margin-right: 200px;
    width: 960px;
    
}
h1 {
    margin-bottom: 20px;
    background: #ccc;
    height: 50px;
}
nav {
            margin-bottom: 20px;
            background: #ccc;
            height:50px;
}
.leftside {
    
    float: left;
    height: 200px;
    padding: 20px;
    width:400px;
    margin-bottom: 15px;
    background: #ccc;   
}
.rightside {
    float: right;
    width: 400px;
    height: 200px;
    padding: 20px;
    margin-bottom: 20px;
    background: #ccc;   
}
#article 
{
    margin: 20px;
    padding: 8px;
    height: 130px;
    color: white;
}
#firstbox
 {
   font: bold;
   height: 15px;
   padding: 10px;
   background: #ccc;
}
#p
{
    margin-top: 25px;
    height: 15px;
    padding: 10px;
    background: #ccc;
    margin-left: -10px;
    width: 323px;
    
}
#footer {
    clear: both;
    text-align: center;
    height: 75px;
    background: #ccc;
    margin-bottom: 20px;
    
}
